body {
    max-width: 55%;
    margin: 0 auto;
    background: radial-gradient(
      circle farthest-corner at 12.3% 19.3%,
      rgba(85, 88, 218, 1) 0%,
      rgba(95, 209, 249, 1) 100.2%
    );
  }
  input {
    width: 55%;
  }
  span {
    font-size: 20px;
  }
  h1,
  h2 {
    font-size: 22px;
    line-height: 1.3em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  header {
    margin-bottom: 20px;
  }
  
  small {
    font-family: "PT Mono", monospace;
    font-style: italic;
    line-height: 14px;
    font-size: 12px;
    margin: 15px;
  }
  
  .container {
    background-color: rgb(118, 161, 252, 0.7);
    border-radius: 16px;
    box-shadow: 6px -6px 14px rgba(147, 289, 317);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .temperature {
    font-size: 2em;
    line-height: 30px;
  }
  
  .units {
    font-size: 14px;
    position: relative;
    top: -22px;
    left: -5px;
  }
  
  .col-6 {
    margin-top: 60px;
    font-family: "PT Mono", monospace;
    text-align: center;
  }
  .current-temp {
    font-family: "PT Mono", monospace;
    text-align: center;
    margin-top: 30px;
  }
  .col {
    font-family: "PT Mono", monospace;
    text-align: center;
  }
  .current-location-button {
    position: relative;
    top: 20px;
    left: -46px;
  }
  