body {
    max-width: 750px;
    margin: 0 auto;
    font-family: "PT Mono", monospace;
    background: #9aebdd;
    font-style: italic;

  }
  input {
    width: 220px;
    border-radius: 15px;
    outline: none;
    height: 2rem;
    font-size: 14px;
    margin-top: 40px;
  }

  
  small {
    line-height: 14px;
    font-size: 12px;
  }

  .current-location-button {
    position: relative;
    top: 18px;
    left: -46px;
  }
  .btn-warning {
    font-size: 14px;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.2);
  }
  .heading {
    font-size: 18px;
    font-weight: 400px;
  }
  .weather-specs span {
    font-size: 18px;
    text-align: left;
  }
  .container {
    background-color: #cffdf8;
    border-radius: 10px;
    box-shadow: 6px -6px 14px rgb(0, 0, 0, 0.2);
    margin-top: 50px;
  }
  .location {
    text-align: right;
  }
  .temperature {
    font-size: 3rem;
  }
  .units {
    font-size: 14px;
    font-weight: 200;
    position: relative;
    top: -22px;
    left: -8px;
  }
  .search-input {
    margin-top: 40px;
    text-align: center;
  }
  .current-weather {
    margin-top: 40px;
    text-align: center;
  }
  .current-temp {
    text-align: center;
    margin-top: 2em;
  }
  .col {
    text-align: center;
  }
 